<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8f020836b6.js"
      crossorigin="anonymous"
    ></script>
    <link href="Css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap" rel="stylesheet">
    <title>Blood Glucose Tracker</title>
  </head>

  <body>
    <h1>Blood Sugar Tracker Edit</h1>
<section class="mainS">
  <main>
    <div>
      <h2 class="sectD">Date</h2>
      <!-- <h2>Time</h2> -->
      <h2 class="sectB">Glucose</h2>
      <h2></h2>
       <h2 class="sectDE">Delete</h2>
    </div>

    <ul class="Blood-Sugar-Log">
        <% for(let i=0;i < info.length;i++){%>
            <%if(info._id==idInfo){%>
                <li class="Blood-Sugar-Data">
         <form action="/edit/<%= info._id %>" method="POST">
            <!-- <input class="data-Num" type="text" placeholder="Blood-Sugar" name="BGSugar" /> -->
            <input type="text" value="<%= info[i].BGSugar%>" name="BGSugar">
            <!-- <textarea rows="6" cols="45" name="BGSugar"><%= info[i].BGSugar%></textarea> -->
            <button type="submit" class="confirm">Confirm</button>
            <a href="/" class="cancel">Cancel</a>
        </form>
    </li>
    <% } else { %>
       
            <li class="Blood-Sugar-Data">
                <span class="Date"><%=info[i].BGDate %></span>
                <!-- <span class="Time"><%= info[i].BGTime %></span> -->
                <span class='fa-solid fa-droplet fa-sm Blood-Sugar'><span class="Blood-Sugarr "><%= info[i].BGSugar %></span></span>
        
                 <a href="/edit/<%= info._id %>" class="edit">
                <span class="fa-solid fa-pen-to-square"></span>
              </a>
                <span class="fa-solid fa-face-smile hidden"></span>
                <span class="fa-solid fa-face-meh hidden"></span>
                <span class="fa-solid fa-face-frown hidden"></span> 
                <span class="fa fa-trash"></span>
              </li>
              <% } %>
              <%})%>
            </main>
        </section>
        <script src="js/main.js"></script>
  </body>
</html>
